:root {
 --background-color: #1B778A;
 --font-style: 'Monchiy Pop One, san serif';
 --font-color: #FFFFFF;
 --btn-bgd-clr: #00B4D8;
 --field-bgd: #D9D9D9;
 --copy-btn-text-color: #003249;
 --border-radius: 10px;
 --border-color: #00B4D8;
 --btn-border-color: #ADE8F4;
}

body {
  font-family: 'Open Sans', 'Karla', sans-serif;
  margin-left: 60px;
 /* margin: auto; */
 background: var(--background-color);
 color: var(--font-color);
 padding-bottom: 20px;
 height: fit-content;
 /* padding: 79px 90px 0px 90px; */

}
*::placeholder {
  font-family: 'Open Sans', 'Karla', sans-serif;
  color:#333;
  font-size: 1rem;
}

button {
  font-family: 'Open Sans', 'Karla', sans-serif;
  font-size: 1.6rem;
}
a {
  font-family: 'Open Sans', 'Karla', sans-serif;
  height:fit-content;
  width:fit-content;
}


.redactr-logo h1 {
 font-size: 3.5rem;
 color: var(--font-color);
 font-family: 'Open Sans', 'Karla', sans-serif;
 margin: 40px 0 10px 15px;
}

.redactr-content {
   margin-right: 50px;
   display: flex;
   justify-content: space-evenly; 
}

label{
 margin-bottom: 7px;
}

textarea {
 resize: none;
 height: 300px;
 width: 600px;
 border-radius: var(--border-radius);
 outline: none;
 text-indent: 15px;
}

.redactr-input {
 border: 1px solid var(--border-color);
 width: 600px;
 border-radius: var(--border-radius);
 outline: none;
 padding: 15px 0;
 text-indent: 15px;
}

.redact-btn {
 width: 600px;
 padding: 10px 0;
 background-color: var(--btn-bgd-clr);
 border: 3px solid var(--btn-border-color);
 border-radius: var(--border-radius);
 cursor: pointer;
 text-align:center;
}

a {
 color: var(--font-color);
  text-decoration: none;
}
.redact-btn-link button {
  color: white;
}

.specify-area{
 margin-top: 100px;
 margin-right: 20px;
 margin-left: 10px;
}

.specify-area input {
  text-indent: 15px;
  outline: none;
}

/*Redacted Page  */
.logo-redacted h1 {
  font-size: 3.5rem;
  color: var(--font-color);
  font-family: 'Open Sans', 'Karla', sans-serif;
  margin: 35px 0 30px 90px;
}

.character-input {
 border: 1px solid var(--border-color);
 width: 500px; 
 height: 70px; 
 border-radius: var(--border-radius);
}

.copy-btn {
 border: none;
 color: var(--copy-btn-text-color);
 width: 600px;
 /* height: 77px; */
 border-radius: var(--border-radius);
}

.content-area{

 margin-right: 50px;
 display: flex;
 justify-content: space-evenly; 
   
 }

 .Stat{
  padding: 15px 10px;
  background-color: #D9D9D9;
  margin: 25px 0 0 55px;
  width: 250px;
  border: 0;
  font-size: 0.7rem;
  height: fit-content;
 }

 .WordsToRedact{
  margin-top: 10px;
 }

 input{
  margin-top: 10px;
 }
 /* textarea{
  margin-top: 10px;
 } */
 fieldset{
  border: 0;
  margin: auto;
 }

 h3{
  margin-left: 50px;
  color:  #000000;
 }
 .Stat button{
  color: #000000;
  padding: 10px 20px;
  font-size: 0.8rem;
 }

 .redactedMessage{
  display: flex;
  height: 60px;

 }

 button.CopyRedactedMessage{
   width: 525px; 
/*   height: 70px;  */
  border-radius: 10px;
   border: 2px solid var(--btn-border-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
   background-color: #00B4D8;
   color: #fff;
 }

 div.Edit{
  border: 2px solid var(--btn-border-color);
  /* width: 150px;
  height: 70px; */
   background-color: #00B4D8;
  color: #fff;
  padding: 18px;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Open Sans', 'Karla', sans-serif;
 font-size: 1rem;

 }

.SocialHandles{

  margin-top: 30px;
  margin-left: 20px;
}


/* Style all font awesome icons */
.fa {
 padding: 10px ;
 margin: 0 5px;
 font-size: 15px;
 width: 20px;
 text-align: center;
 text-decoration: none;
 border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  transform: scale(1.5);
 opacity: 0.7;
}



/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
 background: #3B5998;
 color: white;
}

/* Twitter */
.fa-twitter {
 background: #55ACEE;
 color: white;
}

/* telegram */
.fa-telegram {
 background: #55ACEE;
 color: white;
}

/* whatsapp */
.fa-whatsapp {
 background: 		#25D366;
 color: white;
}




@media (min-width: 319px) and (max-width:426px){

::placeholder {
  font-size: 0.7rem;
}
  
body {
  margin: auto;
  background: var(--background-color);
  font-family: var(--font-style);
  color: var(--font-color);
  padding: 10px 20px;
 }

.redactr-logo h1, .logo-redacted h1 {
 font-size: 2.7rem;
 margin: 0;
}

.redactr-logo h1 {
 margin: 0;
}

 .content-area{
  width:100%;
  display:inline;
/*   padding: 0 20px; */
 }

 .redactr-content {
/*  height:70px; */
   width:100%;
  display: block;
/*    padding: 0 20px; */
 }

 textarea {
  resize: none;
/*   height: 300px; */
  width: 100%;
/*   margin-left:10px; */
  border-radius: var(--border-radius);
 }  

 .redactr-input {
  border: 1px solid var(--border-color);
  width: 90%;
/*   height: 40px; */
/*   margin-bottom: 25px; */
/*    padding: 20px 0; */
  border-radius: var(--border-radius);
 } 

  .redact-btn-link button {
    font-size: 7px;
  }

 .redact-btn {
   font-size: 0.9rem;
   font-weight: bold;
  width: 90%;
   position:relative;
   top:80px;
  border: 2px solid var(--btn-border-color);
   padding: 0;
   text-align: center;
   margin: 0;
 }

 .specify-area{
   width: 400px;
  margin: 20px 0 20px 10px;
  position: relative;
  bottom: 120px;
 }

 .character-input {
  border: 1px solid var(--border-color);
 width: 88%;
 position:relative;
 bottom:10px;
  height: 40px;
  border-radius: var(--border-radius);
 } 

label{
 font-size: 12px;
} 

.WordsToRedact, .redact-btn--cont, .specify-area {
  margin-left: 10px;
}

.content-area{
 margin: 0; 
}

.redactedMessage{
  width:100%;
}

button.CopyRedactedMessage{
   border: 1px solid var(--btn-border-color);
  width: 70%;
  height: 54px;
  font-size: 0.8rem;
  font-weight: semi-bold;
 }

.fa {
  margin: 20px 10px;
  padding: 14px ;
  font-size: 17px;
  border-radius: 50%;
}

.SocialHandles{
  margin: 20px 0;
}

.Stat{
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

div.Edit{
   border: 1px solid var(--btn-border-color);
  font-weight: semi-bold;
 font-size: 0.8rem;
 }

.Stat button{
/*   width: 100%; */
  padding: 5px 40px;
  font-size: 12px;
}

  h3{
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
}
